@charset "utf-8";

*{margin: 0;padding: 0;}
a{text-decoration: none;}
ul{list-style: none;}
body{position: relative;}

.menu{position: fixed;
    width: 120px;
    left: 0;
    top: 0;
    bottom: 0;
    /* z-index: 20; */
    width: 120px;
    padding: 5.8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdcd04;
    border-right: 1px #fff;
    overflow: hidden;
} 
scetion{width: calc(100%-120px); position: relative;left: 120px;}
.main{width: 100%;height: 1080px; background: #fdcd04;} 
.main .top{width: 95%;display: flex;justify-content: space-between;padding-top: 30px;margin: 0 auto;}
.main .top>p{width: 50%;}
.main .top .download{
    width: 95%;
    width: 170px;
    height: 80px;
    background: #fff; 
    display: flex;
    gap: 5px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    }
.main .top .download p:first-child{text-align: center;font-size: 12px;font-weight: 600;}
.main>p:nth-of-type(1){width: 1482px;height: 758px;margin: 0 auto;}
.main>p:nth-of-type(1) img{width: 100%;height: 100%; object-fit: cover;}
.main span{margin: 0 auto;}
.main>p:nth-of-type(2){text-align: center;margin: 0 auto;font-size: 26px;color: #363636;font-weight: 600;}

.btn{width: 100%;height: 159.27px; display: flex;}
.btn li{padding: 0 3% 0 10%;flex: 1 1 30%;background-size: cover;background-repeat: no-repeat;background-position: center;}
.btn li:nth-child(1){background-image: url(../images/able01.png);}
.btn li:nth-child(2){background-image: url(../images/able02.png);}
.btn li:nth-child(3){background-image: url(../images/able03.png);}
.btn li>h2{font-size: 32px;font-weight: inherit;}

.mable{width: 100%;margin: 0 auto;text-align: center;}
.mable .one{height: 1666.64px;}
.mable .two{background-color: #f5f2e5;height: 1719.59px;}
.mable .three{background-color: #1e1d22;height: 1667.27px}
.mable .three>p:nth-child(1){color: #fff;}


.mable .store ul{width: 1482px;height: 80px; display: flex;justify-content: center;gap: 20px;margin: 0 auto;}
.mable .store li{display: flex;background-color: #000;gap: 10px;width: 221.27px;justify-content: center;border-radius: 10px;align-content: center;align-items: center;}
.mable .store li>p:first-child{width: 24px;height: 24px;}
.mable .store li>p:first-child img{width: 100%;height: 100%;object-fit: cover;}
.mable .store li>p:nth-child(2){color: #fdcd04;font-weight: bold;font-size: 14px;}

.mable .mabletxt{width: 100%; max-width: 1482px;height: 312px;display: flex;margin: 150px auto;justify-content: center;gap: 20px;}
.mable .mabletxt li{background-color: #efeeea;border-radius: 15px;width: 480.67px;height: 312px;align-content: center;}
.mable >li>p:nth-child(1){font-size: 20px;font-weight: bold;padding: 150px 0 50px 0;}
.mable li>h1{font-size: 120px;font-weight: bold;}
.mable li>p:nth-child(3){font-size: 28px;color: #666;margin: 60px 0;}

.mable .mabletxt{margin-top: 150px;}
.mable .mabletxt li p:first-child{margin-top: 30px;}
.mable .mabletxt li h2{margin: 20px 0;font-size: 32px;}
.mable .mabletxt li p:nth-of-type(2){font-size: 16px;color: #666;font-weight: 700;}


.mable .two .mabletxt li{background-color: #fff;}
.mable .three .mabletxt li{background-color: #efeeea;width: 731px;}
.mable .three>h1{color: #fff;}

.foot{width: 100%;background: #000;color: #fff;padding-bottom: 100px;}
.foot .footlogo{width: 90%;display: flex;justify-content: space-between;margin: 0 auto;padding: 120px 0;}
.foot .footlogo ul li{display: flex;}
.foot .footlogo ul li p{align-items: center;}

.foot .call{width: 90%;margin: 0 auto;position: relative;}
.foot .call .number{display: flex;justify-content: space-between;}
.foot .call .number::before{content: "";width: 1800px;height: 73px;border-bottom: 1px solid #eee;border-top: 1px solid #eee;position: absolute;top: -25px;left: 0;}
.foot .call .number .innumber{display: flex;gap: 100px;font-size: 16px;}
.foot .call .number .sns{display: flex;gap: 20px;}
.foottext{width: 90%;margin: 80px auto;}
.foot .foottext h2{margin-bottom: 40px;}
.foot .foottext >p{margin: 40px 0;}
.foot .footintext{color: rgba(255, 255, 255, .7);}

